{% extends 'taxi_app/master.html' %}

{% block content %}
<style>
    body {
        text-align: center;
    }
</style>
<h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
<a href="{% url 'post_trip' %}">
    <button type="button">Post</button>
</a>

<button type="button">Edit Profile</button>
<button type="button">Requests</button>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li %} %} class="{{ message.tags }}" endif if message.tags {% {%>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<script>
    // Automatically hide messages after 3 seconds
    setTimeout(function () {
        var messages = document.querySelector('.messages');
        if (messages) {
            messages.style.display = 'none';
        }
    }, 3000);
</script>

{% endblock %}
